.main {
  display: grid;
  place-items: center;
  align-content: center;
  padding: 1rem;
  min-height: 100vh;
  gap: 9vmax;
}

/* Makes the title rotate on hover */
.title {
  font-size: 5vmax;
  transform: rotate(0deg);
  transition: transform 1.2s;
  cursor: default;
  position: relative;
}

.title:hover {
  transform: rotate(360deg);
}

.title::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  aspect-ratio: 1;
  margin: auto;
  transition: inherit;
}

.title:hover::after {
  transform: rotate(-360deg);
}

/* Makes the blob pulse on hover */
.blob {
  --blob-color: var(--clr-red-rgb);
  color: var(--clr-white);

  background: rgb(var(--blob-color));
  border-radius: 50%;
  margin: 20px;

  box-shadow: 0 0 0 0 rgba(var(--blob-color), 1);
  transform: scale(1);

  display: grid;
  place-items: center;

  text-transform: uppercase;

  border: none;

  cursor: pointer;

  height: 20vmax;
  width: 20vmax;
  font-size: 3vmax;
  animation: pulse 2s infinite;
}

.blob[data-online] {
  --blob-color: var(--clr-green-rgb);
  color: var(--clr-black);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(var(--blob-color), 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10vmax rgba(var(--blob-color), 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(var(--blob-color), 0);
  }
}

/* Spins the html element on blob click */
.rotate {
  animation: shake 1s infinite;
}

.ossNotice {
  position: fixed;
  inset: auto 0 0 0;
  padding: 1rem;
  opacity: 0.7;
  text-align: center;
  font-size: 0.8rem;
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
